*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
html,body{
    place-items: center;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(10, 10, 10, 0.7)),url(Res/night.png);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 0% 1%;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    background-color: #111111a4;
}
nav img{
    width: 250px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13;
}
.nav-links ul li::after{
    content: "";
    width: 0%;
    height: 2px;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
    display: block;
    margin: auto;
    transition: 0.2s;
    filter: blur(1px);
}
.nav-links ul li:hover::after{
    width: 100%;
    animation: glow 8s linear infinite;
}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
}
.text-box p{
    margin: 0px 0 30px;
    font-size: 16px;
    color: #fff;
}
.footer-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.footer-box p{
    margin: 20px 0 0px;
    font-size: 11px;
    color: #999;
}
/*downloadbtn*/
.download-btn{
    position: relative;
    height: 40px;
    width: 300px;
    border-radius: 50px;
    border: none;
    outline: none;
    background: #111;
    color: #fff;
    font-size: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
}
.download-btn:hover{
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
}
.download-btn:before{
    content: "";
    position: absolute;
    background: inherit;
    top: -5px;
    right: -5px;
    bottom: -5px;
    left: -5px;
    border-radius: 50px;
    filter: blur(5px);
    opacity: 0;
    transition: opacity 0.5s;
}
.download-btn:hover:before{
    opacity: 1;
    z-index: -1;
}
.download-btn:hover{
    z-index: 1;
    animation: glow 8s linear infinite;
}
@keyframes glow{
    0%{
        background-position: 0%;
    }
    100%{
        background-position: 400%;
    }
}
/*downloadbtn - end*/
nav .fa{
    display: none;
}
.row{
    position: absolute;
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
    left: 25%;
    right: 25%;
}
.features-col{
    position: relative;
    flex-basis: 33%;
    background-color: #151518b7;
    border-radius: 10px;
    margin-bottom: 10%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.2s;
}
.features-col1{
    position: relative;
    flex-basis: 33%;
    background-color: rgba(0, 0, 0, 0.3 );
    border-radius: 10px;
    margin-bottom: 10%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.2s;
}
.features-col h3{
    text-align: left;
    color: #fff;
    font-weight: 600;
    margin: 10px 0;
}
.features-col1 h3{
    text-align: left;
    color: #fff;
    font-weight: 600;
    margin: 10px 0;
}
.features-col p{
    color: #fff;
    text-align: left;
    font-size: 12px;
}
.features-col1 p{
    color: #fff;
    text-align: left;
    font-size: 14px;
}
.features-col:hover{
    border-color: #fff;
    box-shadow: 0 0 20px 0px rgba(255, 255, 255, 0.2);
}
.features-col1:hover{
    border-color: #fff;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}

@media (max-width: 700px) {
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 0.2s;
    }
    nav .fa{
        display: block;
        color: #fff;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }
    .row{
        flex-direction: column;
    }
}